.list {
    list-style: none;
    margin: 0;
    padding: 0;

    list-style-position: inside;
    margin: 0;

    /* flex: 50%; */
    flex-wrap: wrap;
    display: flex;

    
    /* column-gap: 1px; */
    
  }

.listWrapper{
    -webkit-column-count: 2;  /* Chrome, Safari, Opera */
    -moz-column-count: 2; 
    column-count: 2;
    align-items: center;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap;  */

    
    
    
}

/* @media only screen and (max-width: 1200px) {
  body {
    background-color: lightblue;
    flex-direction: column;
  }
} */